#### Etsy Favorers Data Reading & Cleaning

In [6]:
#imports
import pandas as pd
import numpy as np

In [21]:
# reading the data
df = pd.read_csv('data/etsy_shops_data.csv')

In [22]:
# explore the data
df.head()

,creation_date,listing_active_count,num_favorers,currency_code,is_shop_us_based,sale_message,sales_count,review_count,shop_location
0,19-Nov,3,1,USD,True,False,0,0,"Kansas City, Missouri"
1,19-Nov,13,1,AUD,False,False,2,0,None
2,19-Nov,0,0,USD,True,False,-99,-99,None
3,19-Nov,40,1,USD,False,False,0,0,"Kharkiv, Ukraine"
4,19-Nov,7,1,USD,True,False,0,0,"New York, United States"

In [23]:
# 20k rows and 9 columns
df.shape

(20000, 9)

In [24]:
df['num_favorers'].max()

223

In [25]:
df['sales_count'].max()

2216

In [26]:
# see data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   creation_date         20000 non-null  object
 1   listing_active_count  20000 non-null  int64
 2   num_favorers          20000 non-null  int64
 3   currency_code         20000 non-null  object
 4   is_shop_us_based      20000 non-null  bool
 5   sale_message          20000 non-null  bool
 6   sales_count           20000 non-null  int64
 7   review_count          20000 non-null  int64
 8   shop_location         20000 non-null  object
dtypes: bool(2), int64(4), object(3)
memory usage: 1.1+ MB

In [27]:
# check for missing values
df.isnull().sum()

creation_date           0
listing_active_count    0
num_favorers            0
currency_code           0
is_shop_us_based        0
sale_message            0
sales_count             0
review_count            0
shop_location           0
dtype: int64

In [28]:
# create a function to turn True or False values into numeric
def True_or_False(x):
    
    if x == True:
        return 1
    if x == False:
        return 0

In [29]:
# apply the function
df['is_shop_us_based'] = df['is_shop_us_based'].apply(True_or_False)

In [30]:
# apply to sale message column
df['sale_message'] = df['sale_message'].apply(True_or_False)

In [32]:
# save to clean csv file
df.to_csv('data/clean_data_etsy.csv', index = False)