#### Etsy Review Data Reading and Cleaning

In [1]:
#imports

import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('data/shops.csv')

In [9]:
df.head()

,seller_location,seller_join_date,number_of_sales,number_of_reviews,average_review_score,number_of_items
0,"Jaipur, India",2018,0,NaN,NaN,2
1,NaN,2017,226,12.0,5.0,3
2,"Soorts-Hossegor, France",2017,14,2.0,4.0,0
3,NaN,2019,0,NaN,NaN,2
4,NaN,2019,0,NaN,NaN,9

In [10]:
df.info() #except for seller_location all other features are numeric

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414057 entries, 0 to 414056
Data columns (total 6 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   seller_location       349029 non-null  object
 1   seller_join_date      414057 non-null  int64
 2   number_of_sales       414057 non-null  int64
 3   number_of_reviews     343125 non-null  float64
 4   average_review_score  210095 non-null  float64
 5   number_of_items       414057 non-null  int64
dtypes: float64(2), int64(3), object(1)
memory usage: 19.0+ MB

In [11]:
df.isnull().sum() # check for null values

seller_location          65028
seller_join_date             0
number_of_sales              0
number_of_reviews        70932
average_review_score    203962
number_of_items              0
dtype: int64

In [12]:
df.shape

(414057, 6)

In [13]:
df.dropna(axis = 0, inplace = True) #drop null values

In [14]:
df.isnull().sum()

seller_location         0
seller_join_date        0
number_of_sales         0
number_of_reviews       0
average_review_score    0
number_of_items         0
dtype: int64

In [24]:
df.shape

(169059, 6)

In [21]:
df.rename(columns={'number_of_sales':'sales_count'}, inplace = True) #change column names to match the other dataframe

In [33]:
df.to_csv('data/etsy_shops_clean.csv', index = False) #save to clean csv file